<app-header></app-header>
<section class="home-section">
  <div class="home-container">
    <h1 class="home-title">Do you want to know how to train?</h1>
    <h2 class="home-subtitle">
      On this page, you'll learn everything you need to know to get started at
      the gym. Start by checking out the introductory guide
      <span routerLink="/tips" class="link">here</span>.
    </h2>
  </div>
  <picture class="home-img-container">
    <img class="home-img" src="/assets/img/bodybuilder.jpg" />
  </picture>
</section>
