.cards-container {
  margin: auto;
  padding: 2rem 0rem;
  .card-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 2rem;
    margin: auto;
    gap: 2rem;
    box-shadow: 2px 4px 4px hsla(0, 0%, 0%, 25%);
    border-radius: 16px;

    .tips-card-img-container {
      padding: 1rem;

      .tips-card-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.5s ease;
      }

      .tips-card-img:hover {
        transform: scale(105%);
      }
    }

    .tips-card-text-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .tips-card-title {
        width: 1000px;
        margin: 0;
      }

      .tips-card-info {
        width: 1000px;
        line-height: 3rem;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: pre-line;
      }
    }
  }
}
