.calculator-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 15rem;

  .calculator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    h2 {
      font-weight: 500;
    }
    .calculator-left {
      input {
        background-color: var(--lime);
        padding: 0.5rem 1rem;
        color: var(--dark-lime);
        font-size: large;
        width: 8rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: 0;
        outline: 0;
      }

      input::placeholder {
        color: var(--dark-lime);
      }

      .sex-frame {
        div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 0.5rem 1rem;
          width: 8rem;
          height: 4rem;
          background-color: var(--lime);
          border-radius: 0.5rem;

          svg {
            margin: auto;
            cursor: pointer;
          }

          .girl-svg {
            fill: var(--light-lime);
          }

          .girl-svg:hover {
            opacity: 50%;
          }

          .girl-svg-active {
            fill: var(--dark-lime);
            cursor: default;
          }

          .man-svg {
            fill: var(--light-lime);
          }

          .man-svg:hover {
            opacity: 50%;
          }

          .man-svg-active {
            fill: var(--dark-lime);
            cursor: default;
          }
        }
      }
    }

    .calculator-right {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;

      h2 {
        margin-bottom: 0;
      }

      .calculator-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: var(--lime);
        gap: 1rem;
        padding: 0.5rem 1rem;
        width: 480px;
        height: 100px;
        border-radius: 0.5rem;
        cursor: pointer;

        h3 {
          margin: 0;
          font-weight: 700;
          color: var(--dark-lime);
        }

        p {
          margin: 0;
          font-size: 16px;
          color: var(--dark-lime);
        }
      }

      .calculator-container:hover {
        opacity: 75%;
      }

      .calculator-container-active {
        background-color: var(--dark-lime);
        box-shadow: inset 0 0 0 5px var(--lime);
        cursor: default;

        h3 {
          color: var(--lime);
        }

        p {
          color: var(--lime);
        }
      }
    }
  }

  .result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1500px) {
  .calculator-section {
    padding: 3rem 2rem;
    .calculator {
      .calculator-left {
        .sex-frame {
        }

        .years-frame {
        }

        .height-frame {
        }

        .weight-frame {
        }
      }

      .calculator-right {
        .calculator-container {
        }
      }
    }
    .result-container {
      .result-title {
      }

      .results-calories {
      }
    }
  }
}

@media (max-width: 1100px) {
  .calculator-section {
    margin: auto;
    flex-direction: column;
    .calculator {
      .calculator-left {
        .sex-frame {
        }

        .years-frame {
        }

        .height-frame {
        }

        .weight-frame {
        }
      }

      .calculator-right {
        .calculator-container {
        }
      }
    }
    .result-container {
      margin: auto;
      .result-title {
      }

      .results-calories {
      }
    }
  }
}

@media (max-width: 1500px) {
  .calculator-section {
    padding: 60px 2rem;
    flex-direction: column;
    .calculator {
      flex-direction: column;
      .calculator-left {
        width: 32rem;
        margin: auto;
        text-align: center;

        input {
          width: 480px;
        }
        .sex-frame {
          width: 480px;

          div {
            width: 480px;
          }
        }

        .years-frame {
          width: 480px;
        }

        .height-frame {
          width: 480px;
        }

        .weight-frame {
          width: 480px;
        }
      }

      .calculator-right {
        margin: auto;
        width: auto;
        .calculator-container {
        }
      }
    }
    .result-container {
      text-align: center;
      .result-title {
      }

      .results-calories {
      }
    }
  }
}

@media (max-width: 600px) {
  .calculator-section {
    .calculator {
      .calculator-left {
        width: 16rem;

        input {
          width: 15rem;
        }
        .sex-frame {
          width: 15rem;

          div {
            width: 15rem;
          }
        }

        .years-frame {
          width: 15rem;
        }

        .height-frame {
          width: 15rem;
        }

        .weight-frame {
          width: 15rem;
        }
      }

      .calculator-right {
        width: 16rem;
        .calculator-container {
          width: 15rem;
        }
      }
    }
    .result-container {
      .result-title {
      }

      .results-calories {
      }
    }
  }
}

@media (max-width: 400px) {
  .calculator-section {
    .calculator {
      .calculator-left {
        width: 12rem;

        input {
          width: 10rem;
        }
        .sex-frame {
          div {
            width: 10rem;
          }
        }

        .years-frame {
          width: 10rem;
        }

        .height-frame {
          width: 10rem;
        }

        .weight-frame {
          width: 10rem;
        }
      }

      .calculator-right {
        width: 12rem;
        .calculator-container {
          width: 10rem;
        }
      }
    }
    .result-container {
      .result-title {
      }

      .results-calories {
      }
    }
  }
}
